<div id="welcome-container" >
  <div id="main-welcome"  [@upFadeInAnimation]="{value: ':enter',params:{time:'400ms'}}">
    <img src="assets/logo.png" alt="">
    <span id="welcome-title"> ברוכים הבאים</span>
  </div>
  <button (click)="calc()" mat-button  id="grid-item-3" class="grid-item"
  [@upFadeInAnimation]="{value: ':enter',params:{time:'800ms'}}"
  >
    <i class="bi bi-caret-left-fill" ></i>
    <span> חשב</span>

  </button>
  <img class="grid-item planet-img"  [@upFadeInAnimation]="{value: ':enter',params:{time:'1200ms'}}" src="assets/planet.jpg" alt="">

</div>

