<div id="header"><button mat-button (click)="back()">חזור לדף הבית</button></div>
<div id="container" [@fadeIn]="{value: ':enter',params:{time:'500ms'}}" >
  <app-calc-result [textPreds]="textPreds"></app-calc-result>
  <div id="input-container" >

      <textarea matInput  (ngModelChange)="onInputTextChange()" [(ngModel)]="inputText"  dir="rtl" placeholder="הכנס טקסט"></textarea>

    <button mat-button class="big-button"  (click)="calc()">חשב</button>
    <button mat-button class="big-button" (click)="fileInput.click()" >
      <input id="file-input" type="file" (change)="onFileSelected($event)" #fileInput />
      <span>(.txt) העלה קובץ טקסט</span>
      <span id="fileName">{{fileName}}</span>
    </button>



  </div>

</div>
