
#content{
  font-size: 18px;

  height: 70vh;
  text-align: center;
  font-family: 'Frank Ruhl Libre';
  grid-area: content;
}
#pred{
  color: var(--blue);
  border-bottom: 1px solid var(--blue);

  cursor: pointer;
}
::ng-deep .mat-tooltip  {
  white-space: pre-line !important;
  font-size: 14px;
  text-align: center;
  color: black !important;
  box-shadow: 0px 0px 10px rgb(202, 202, 202);
  background-color: white;
  font-family: 'Frank Ruhl Libre';
}
